{{#extends "base"}}


{{#block "content"}}
<h1>All Comments</h1>

<table class="table">
    <thead>
        <th>
            Comment ID
        </th>
        <th>
            Article
        </th>
        <th>
            User
        </th>
        <th>
            Comment Date
        </th>
        <th></th>
        <th></th>
    </thead>
    {{#each comments}}
    <tr>
        <td>
            {{this.id}}
        </td>
        <td>
            {{this.aritle.title}}
        </td>
        <td>
            {{this.user.username}}
        </td>
        <td>
            {{#dateFormat this.comment_date}}
                {{date}} {{time}} 
            {{/dateFormat}}
        </td>
        <td>
            <a href="comments/update-comment/{{this.id}}"
               class="btn btn-warning btn-sm">Update</a>
        </td>
        <td>
            <a href="comments/delete-comment/{{this.id}}"
               class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>
<a class="btn btn-info btn-sm" href="comments/add-comment">Add Comment</a>
{{/block}}

{{/extends}}