{{#extends "base"}}


{{#block "content"}}
<h1>All Categories</h1>

<table class="table">
    <thead>
        <th>
            Category ID
        </th>
        <th>
            Name
        </th>
        <th>
            Parent Category
        </th>
        <th></th>
        <th></th>
    </thead>
    {{#each categories}}
    <tr>
        <td>
            {{this.id}}
        </td>
        <td>
            {{this.category_name}}
        </td>
        <td>
            {{#if this.parentCategory.category_name}}
                {{this.parentCategory.category_name}}
            {{else}}
                None
            {{/if}}
        </td>
        <td>
            <a href="categories/update-category/{{this.id}}"
               class="btn btn-warning btn-sm">Update</a>
        </td>
        <td>
            <a href="categories/delete-category/{{this.id}}"
               class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>
<a class="btn btn-info btn-sm" href="categories/add-category">Add Categories</a>
{{/block}}

{{/extends}}