{{#extends "base"}}

  {{#block "content"}}
    <h1>All Products</h1>

    <table class="table">
      <thead>
        <th>
          Product ID
        </th>
        <th>
          Name
        </th>
        <th>
          Price
        </th>
        <th>
          Description
        </th>
        <th>
          Category
        </th>
        <th>
          Brand
        </th>
        <th>
          Qty Available
        </th>
        <th></th>
        <th></th>
      </thead>
      {{#each products}}
        <tr>
          <td>
            {{this.id}}
          </td>
          <td>
            {{this.product_name}}
          </td>
          <td>
            {{this.price}}
          </td>
          <td>
            {{this.description}}
          </td>
          <td>
            {{this.category.category_name}}
          </td>
          <td>
            {{this.brands.brand_name}}
          </td>
          <td>
            {{this.quantity_available}}
          </td>
          <td>
            <a
              href="products/update-product/{{this.id}}"
              class="btn btn-warning btn-sm"
            >Update</a>
          </td>
          <td>
            <a
              href="products/delete-product/{{this.id}}"
              class="btn btn-danger btn-sm"
            >Delete</a>
          </td>
        </tr>
      {{/each}}
    </table>
    <a class="btn btn-info btn-sm" href="products/add-product">Add Products</a>
  {{/block}}

{{/extends}}