{{#extends "base"}}


{{#block "content"}}
<h1>All Brands</h1>

<table class="table">
    <thead>
        <th>
            Brand ID
        </th>
        <th>
            Name
        </th>
        <th>
            Country of Origin
        </th>
        <th></th>
        <th></th>
    </thead>
    {{#each brands}}
    <tr>
        <td>
            {{this.id}}
        </td>
        <td>
            {{this.brand_name}}
        </td>
        <td>
            {{this.country_of_origin}}
        </td>
        <td>
            <a href="brands/update-brands/{{this.id}}"
               class="btn btn-warning btn-sm">Update</a>
        </td>
        <td>
            <a href="brands/delete-brands/{{this.id}}"
               class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>
<a class="btn btn-info btn-sm" href="brands/add-brands">Add Brands</a>
{{/block}}

{{/extends}}