{{#extends "base"}}

  {{#block "content"}}
    <h1>All Cart Items</h1>

    <table class="table">
      <thead>
        <th>
          Cart Item ID
        </th>
        <th>
          User
        </th>
        <th>
          Product
        </th>
        <th>
          Quantity
        </th>
        <th></th>
        <th></th>
      </thead>
      {{#each cartitems}}
        <tr>
          <td>
            {{this.id}}
          </td>
          <td>
            {{this.user.username}}
          </td>
          <td>
            {{this.product.product_name}}
          </td>
          <td>
            {{this.quantity}}
          </td>
          <td>
            <a
              href="cartitems/update-cart-item/{{this.id}}"
              class="btn btn-warning btn-sm"
            >Update</a>
          </td>
          <td>
            <a
              href="cartitems/delete-cart-item/{{this.id}}"
              class="btn btn-danger btn-sm"
            >Delete</a>
          </td>
        </tr>
      {{/each}}
    </table>
    <a class="btn btn-info btn-sm" href="cartitems/add-cart-item">Add Order
      Items</a>
  {{/block}}

{{/extends}}